apiVersion: v1
kind: Service
metadata:
  name: backend
  annotations:
    # Specific check for the API
    alb.ingress.kubernetes.io/healthcheck-path: /api/health
    alb.ingress.kubernetes.io/success-codes: "200"
spec:
  type: ClusterIP      
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80          # Service listens on 80
      targetPort: 5000  # Container listens on 5000