controller:
  image:
    repository: "jenkins/jenkins"
    tag: "lts"

  jenkinsUrl: "http://jenkins.jenkins.svc.cluster.local:8080/jenkins/"
  jenkinsUriPrefix: "/jenkins" 
  
  resources:
    requests:
      cpu: "1000m"      
      memory: "2048Mi"  
    limits:
      cpu: "2000m"      
      memory: "4096Mi"  
      
  # Java Options 
  javaOpts: "-Xms2048m -Xmx3072m"

serviceAccount:
  create: true
  name: jenkins

persistence:
  enabled: true
  storageClass: "gp2"
  accessMode: "ReadWriteOnce"
  size: "8Gi"