apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gp3
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"  # <--- This makes it the Default!
provisioner: ebs.csi.aws.com   # <--- Uses the installed driver
volumeBindingMode: WaitForFirstConsumer
parameters:
  type: gp3
  fsType: ext4